*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
.nav, #menu-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
}
#menu-title{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
}
